body {
    margin: 0;
}

.filter {
    overflow: auto;
}

.container {
    display: grid;
    width: 98vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    padding: 1vw;
}

.flow {
    width: 100%;
}

.thumbnail {
    width: 100%;
}