body {
    margin: 0;
}

a {
    color: #5eb0ff;
    text-decoration: none;
}

a:visited {
    color: #5eb0ff;
    text-decoration: none;
}

.filter {
    overflow: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flow {
    width: 100%;
}

.thumbnail {
    width: 100%;
}

.detail-info > *:nth-child(odd) {
    text-align: right;
}

.detail-info > *:nth-child(even) {
    text-align: left;
}

.palette {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

@media (min-aspect-ratio: 1/1) {
    .detail-container {
        word-break: break-all;
        position: relative;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: minmax(50%, 2fr) 1fr;
        place-items: center;
    }

    .detail-info {
        display: grid;
        grid-template-columns: minmax(100px, 1fr) 5fr;
        grid-gap: 10px;
        line-height: 30px;
    }

    .detail-info-container {
        display: grid;
        grid-template-rows: 1fr auto 1fr;
    }
}

@media (max-aspect-ratio: 1/1) {
    .detail-container {
        width: 100vw;
        display: block;
    }

    .detail-info {
        display: grid;
        grid-template-columns: minmax(100px, 1fr) 5fr minmax(100px, 1fr) 5fr;
        grid-gap: 10px;
        line-height: 30px;
    }
}